<div class="upperBandContainer">
    <img class="logoSpaceTour" src="../../assets/shared/logo.svg" alt="logo spaceTourism">
    <!-- <p style="color: white ;">windowWidth : {{getScreenWidth}}</p> -->
    <img class="logoBurger" *ngIf="getScreenWidth <= 480" src="../../assets/shared/icon-hamburger.svg" alt="logo Burger">
    <div class="navMenu" *ngIf="getScreenWidth > 480 && getScreenWidth < 1024" >
        <ul>
            <li><a routerLink="" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">HOME</a></li>
            <li><a routerLink="/destination" routerLinkActive="active">DESTINATION</a></li>
            <li>CREW</li>
            <li>TECHNOLOGY</li>
        </ul>
    </div>
    <div class="navMenuDesk" *ngIf="getScreenWidth >= 1024 " >
        <div class="dash"></div>
        <ul>
            <li><a routerLink="" routerLinkActive="active"[routerLinkActiveOptions]="{exact: true}"><span class="numbers">00</span> HOME</a></li>
            <li><a routerLink="/destination" routerLinkActive="active"><span class="numbers">01</span> DESTINATION</a></li>
            <li><span class="numbers">02</span> CREW</li>
            <li><span class="numbers">03</span> TECHNOLOGY</li>
        </ul>
    </div>
</div>
