<div class="container">
    <app-nav></app-nav>

    <div class="planetBloc">
        <div class="heading"><p><span class="number">01</span> pick up your destination</p></div>
        <div class="imagePlanet">
            <img src="../../assets/destination/image-moon.png">
        </div>
    </div>


    <div class="textBloc">
        <nav class="planetNav">
            <ul>
                <li>Moon</li>
                <li>Mars</li>
                <li>Europa</li>
                <li>Titan</li>
            </ul>
        </nav>

        <div class="planetName">
            <p>Moon</p>
        </div>

        <div class="textPlanet">
            <p>See our planet as you’ve never seen it before. A perfect relaxing trip away to help regain perspective and come back refreshed. While you’re there, take in some history by visiting the Luna 2 and Apollo 11 landing sites.</p>
        </div>

        <div class="dash"></div>

        <div class="distanceBloc">
            <div class="distTitle"><p>Avg. distance</p></div>
            <div class="distance"><p>384,400 km</p></div>
        </div>
        <div class="travelBloc">
            <div class="travelTitle"><p>Est. travel time</p></div>
            <div class="travel"><p>3 days</p></div>
        </div>

    </div>



</div>
