<div class="container">
    <app-nav></app-nav>

    <div class="deskBloc">
        <div class="planetBloc">
            <div class="heading"><p><span class="number">01</span> pick up your destination</p></div>
            <div class="imagePlanet">
                <img src="{{dataPlanet$.images}}" alt="photo planète sélectionnée">
            </div>
        </div>
        <div class="textBloc">
            <nav class="planetNav">
                <ul>
                    <li (mouseover)="this.survolMoon=true" (mouseout)="this.survolMoon= false" [ngClass]="{survol: survolMoon}" (click)="getMoon()">Moon</li>
                    <li (mouseover)="this.survolMars=true" (mouseout)="this.survolMars= false" [ngClass]="{survol: survolMars}" (click)="getMars()">Mars</li>
                    <li (mouseover)="this.survolEuropa=true" (mouseout)="this.survolEuropa= false" [ngClass]="{survol: survolEuropa}" (click)="getEuropa()">Europa</li>
                    <li (mouseover)="this.survolTitan=true" (mouseout)="this.survolTitan= false" [ngClass]="{survol: survolTitan}" (click)="getTitan()">Titan</li>
                </ul>
            </nav>
            <div class="planetName">
                <p>{{dataPlanet$.name}}</p>
            </div>
            <div class="textPlanet">
                <p>{{dataPlanet$.description}}</p>
            </div>
            <div class="dash"></div>
            <div class="info">
                <div class="distanceBloc">
                    <div class="distTitle"><p>Avg. distance</p></div>
                    <div class="distance"><p>{{dataPlanet$.distance}}</p></div>
                </div>
                <div class="travelBloc">
                    <div class="travelTitle"><p>Est. travel time</p></div>
                    <div class="travel"><p>{{dataPlanet$.travel}}</p></div>
                </div>
            </div>
        </div>
    </div>



</div>
