<div class="container">
    <app-nav></app-nav>

    <div class="containerComingSoon">
        <div class="comingSoon">
            Coming Soon ...
        </div>
    </div>

    <!-- <div class="section">

        <div class="titleBloc">
            <div class="heading">
                <p><span>03</span> Space Launch 101</p>
            </div>
        </div>


        <div class="contentBloc">

            <div class="tecPhoto">
                <img src="../../assets/technology/image-launch-vehicle-landscape.jpg">
            </div>

            <div class="tecNav">
                <ul>
                    <li>1</li>
                    <li>2</li>
                    <li>3</li>
                </ul>
            </div>

            <div class="tecBlocText">
                <div class="terminology">The terminology ...</div>
                <div class="tecTitre">Launch Vehicule</div>
                <div class="tecText"><p>A launch vehicle or carrier rocket is a rocket-propelled vehicle used to carry a 
                    payload from Earth's surface to space, usually to Earth orbit or beyond. Our 
                    WEB-X carrier rocket is the most powerful in operation. Standing 150 metres tall, 
                    it's quite an awe-inspiring sight on the launch pad!</p></div>
            </div>



        </div>







    </div> -->



</div>

