.container {
    height: 100vh;
    width: 100vw;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(../../assets/home/background-home-tablet.jpg);
    @media (max-width: 768px) {
        background-image: url(../../assets/home/background-home-tablet.jpg);
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    background-image: url(../../assets/home/background-home-desktop.jpg);
    @media (max-width: 480px) {
        background-image: url(../../assets/home/background-home-mobile.jpg);

    }
}

app-nav {
    @media (max-width: 480px) {
    margin-bottom: 35px;
    }
}

.blocText{
    text-align: center;
    @media (max-width: 768px) {
        font-size: medium;
        margin-top: -75px;
    }
    @media (max-width: 480px) {
        font-size: small;
        margin-top: -75px;
    }
    @media (min-width: 769px) {
        width: 50%;

    }
}
.headline {
    text-transform: uppercase;
    font-family: barlow;
    color: hsl(231, 77%, 90%);
    @media (min-width: 769px) {
        letter-spacing: 3px;
        font-size: 28px;
        width: 50%;
        text-align: left;
        display: inline-block;
    }
    @media (max-width: 768px) {
        letter-spacing: 2px;
        font-size: 22px;
    }
    @media (max-width: 480px) {
        font-size: 18px;
    }
}

.largeText{
    text-transform: uppercase;
    @media (min-width: 769px) {
        font-size: 150px;
        margin-top: 5px;
        margin-bottom: 5px;
    }
    @media (max-width: 768px) {
        font-size: 160px;
        margin-top: 5px;
        margin-bottom: 5px;
    }
    @media (max-width: 480px) {
        font-size: 70px;
    }
}
.centerParag{
    color: hsl(231, 77%, 90%);
    font-family: barlow;
    font-size: 14px;
    letter-spacing: 2.35px;
    @media (min-width: 769px) {
        width: 50%;
        display: inline-block;
        margin: 15px;
        line-height: 40px;
        text-align: left;
    }
    @media (max-width: 768px) {
        width: 50%;
        display: inline-block;
        margin: 20px;
        margin-bottom: 140px;
        line-height: 30px;
    }
    @media (max-width: 480px) {
        margin: 20px;
        margin-bottom: 100px;
        line-height: 24px;
    }
}

.circleContainer{
    display: flex;
    justify-content: center;
    @media (max-width: 768px) {
        margin-bottom: 105px;
    }
    @media (max-width: 480px) {
        margin-bottom: 55px;
    }
    @media (min-width: 769px) {
        width: 50%;
        
    }
    
}

.circle{
    background-color:whitesmoke;
    border-radius: 50% 50%;
    display: flex;
    justify-content: center;
    align-items: center;

    @media (min-width: 769px) {
        height: 260px;
        width: 260px;
    }
    @media (max-width: 768px) {
        height: 200px;
        width: 200px;
    }
    @media (max-width: 480px) {
        height: 120px;
        width: 120px;
    }

}

.circleText{
    color: black;
    text-transform: uppercase;
    @media (min-width: 769px) {
        font-size: 40px;
    }
    @media (max-width: 768px) {
        font-size: 30px;
    }
    @media (max-width: 480px) {
        font-size: 20px;
    }

}

.dektopContainer {
    @media (min-width: 769px) {
        display: flex;
        flex-direction: row;
        height: 85vh;
        justify-content: center;
        align-items: center;
        padding-top: 4%;
    }
}